name: rootbound
description: "Cultivate your best self with Bloom, the enchanting habit tracker that beautifully organizes your daily tasks and helps your good habits flourish."
publish_to: "none"
version: 1.0.0

environment:
  sdk: ^3.6.0

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  google_fonts: ^6.1.0
  supabase_flutter: '>=1.10.0'
  uuid: ^4.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  flutter_launcher_icons: ^0.13.1

flutter:
  uses-material-design: true
  assets:
    - assets/images/

flutter_launcher_icons:
  android: true
  ios: true
  web: true
  adaptive_icon_background: "#FFFFFF"
  adaptive_icon_foreground: assets/images/icon_fg.png
  adaptive_icon_foreground_inset: "16%"
  image_path_ios: assets/images/app_icon_ios.png
  image_path_web: assets/images/app_icon.png
  remove_alpha_ios: true
